.stocks {
    
    .stocks__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .stocks__item {
        width: 31%;
        min-height: 260px;
        background-size: cover;
        @include flex-center();

        @include tablet {
            min-height: 167px;
        }

        @include mobile {
            width: 100%;
            min-height: 248px;
        }

        &--woman {
            background-image: url(../img/woman.jpg);
        }
        
        &--man {
            background-image: url(../img/woman.jpg);
            /*man.jpg*/
        }
        
        &--kids {
            background-image: url(../img/woman.jpg);
            /*kids.jpg*/
        }
        
        &--accessories {
            width: 100%;
            background-image: url(../img/woman.jpg);
            /*accessories.jpg*/

            @include tablet {
                min-height: 116px;
            }

            @include mobile {
                min-height: 111px;
            }
        }
    }
}